* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 22px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #e1e1e1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  color: black;
  display: flex;
}

.container {
  border: 3px solid #ccc;
  background-color: rgb(15, 185, 190);
  width: 400px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.hero .numContainer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  min-width: 100%;
}
.hero .container .randomNum p span {
  color: red;
  font-weight: bold;
}

.numContainer input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  background: #faf0d7;
  color: red;
  font-weight: bold;
}
.hero .container button {
  align-items: flex-end;
  background: #faf0d7;
  color: black;
  font-weight: bold;
  padding: 14px;
  font-size: 22px;
  cursor: pointer;
}
.hero .container button:hover {
  background-color: black;
  color: #faf0d7;
}
